<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>proxyServer</key>
	<dict>
		<key>ip</key>
		<string>122.89.29.58</string>
		<key>port</key>
		<integer>8118</integer>
	</dict>
	<key>unblockURLs</key>
	<array>
		<string>http://h5vv.video.qq.com/</string>
		<string>http://vv.video.qq.com/</string>
	</array>
	<key>blockURLs</key>
	<array/>
</dict>
</plist>
